001_hello/hello.go
002_integers/integers.go
dictionary/dictionary.go
injection/injection.go
mocking/mocking.go
003_multiple_of_3_and_5/module.go
004_repeat/repeat.go
005_vovel_count/vovel_count.go
006_int_to_string/int_to_string.go
007_digital_root/digital_root.go
008_array_sum/arrays.go
009_array_diff/arrays.go
010_structs/structs.go
011_pointers/pointers.go
