go 1.21.5

use (
	./arrays
	./dictionary
	./001_hello
	./injection
	./002_integers
	./mocking
	./pointers
	./structs
	./003_multiple_of_3_and_5
  ./004_repeat
  ./005_vovel_count
  ./006_int_to_string
  ./007_digital_root
)
