go 1.21.5

use (
	./001_hello
	./002_integers
	./003_multiple_of_3_and_5
  ./004_repeat
  ./005_vovel_count
  ./006_int_to_string
  ./007_digital_root
  ./008_array_sum
  ./009_array_diff
  ./010_structs
  ./011_pointers
  ./012_dictionary
  ./013_mocking
  ./014_injection
)
